body{
    margin: 0px;
    padding: 0px;
}
.formulario-agrup div {
    max-width: 50%;
    background: radial-gradient(rgb(69, 6, 128), #030303);
    border-radius: 10px;
    padding: 30px;
    display: flex;
}

.formulario-agrup button{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 245px;
}

.formulario-agrup label{
    color: white;
    margin-top: 5px;
}

.teste {
    margin-left: 335px;
    flex-wrap: wrap;
}